/* Fontok */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: Protest;
    font-display: swap;
    src: url('fonts/ProtestRevolution-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Oswald';
}

body {
    background-color: black;

}

/*HEADER*/
header {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: black;
    top: 0;
    z-index: 1;
    /* z tengely is kell, hogy ne menjenek egymás mögé a dolgok */

}

.navbar {
    padding: 0 5px;
    position: absolute;
    left: 12px;
}

.navbar.hidden {
    display: none;
}

.navbar_x {
    display: none;
    align-self: center;
    position: absolute;
    top: 47%;
    /*valamiért nem tűnik teljesen középnek, matematikailag az pedig, szóval feljebb vittem */
    padding: 0;
    margin: 0 0 0 5px;
    left: 12px;
}

.navbar_x.visible {
    display: block;
}

.bar1,
.bar2 {
    display: block;
    width: 22px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    bottom: 4px;

}

.bar1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
}

.bar2 {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg);
}

.ham_menu {
    margin: 0;

}

.bars {
    width: 22px;
    height: 4px;
    background-color: rgb(224, 224, 224);
    margin: 5px 0;
    border-radius: 10px;
}

header a {
    display: block;
    text-align: center;
    width: 25%;
    color: black;
}

.logo {
    width: 80px;
}

nav {
    position: fixed;
    top: 56px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    display: none;
    z-index: 1;
}

.dropdown {
    display: none;
}

.nav_logo {
    display: none;
}

nav.visible {
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

nav ul li a img {
    height: 20px;
    /* Nyíl méretének beállítása */
    margin-left: 10px;
    /* Térköz a szöveg és a nyíl között */
}



/* jQuery slide */

.slider {
    width: 100%;
}

.slick-slide img {
    width: 100%;
    /* Kép szélessége */
}

.slick-dots li button:before {
    color: white !important;
    /* muszáj important, különben a pseudo element átírja */
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
    opacity: .5;
}

.slick-active {
    opacity: .5;

}

.slick-current {
    opacity: 1;
}



/*idézőjelek*/
.outer {
    position: relative;
}

.quotesymbtop,
.quotesymbbot {
    color: rgb(220, 194, 61);
    font-family: 'Protest';
    font-size: 4em;

}

.quotesymbtop {
    position: absolute;
    top: -1px;
    /* Távolság a quotes konténer tetejétől */
    left: 7px;
    /* Távolság a quotes konténer bal szélétől */
}

.quotesymbbot {
    position: absolute;
    bottom: -33px;
    /* Távolság a quotes konténer aljától */
    right: 10px;
    /* Távolság a quotes konténer jobb szélétől */
}

/*idézetfade*/
.lyrics_quotes {
    width: 80%;
    max-width: 340px;
    margin: auto;
}

.quotes {
    position: relative;
    opacity: 1;
    height: 150px;
    color: white;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.1);
    border-radius: 25px;
    margin: 20px 10px;
}

.quotes .quote {
    opacity: 0;
    /* Alapértelmezett elrejtés */
    position: absolute;
    /* Egymásra helyezéshez */

}


.quote p,
.song_title {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;

}

.quote p {
    position: relative;
    text-indent: 0;
    padding: 0;
    left: 30px;
    top: 20px;
}

.song_title {
    position: absolute;
    align-self: flex-start;
    padding: 0;
    opacity: 0;
    top: 120px;
    right: 30px;
}

/*horizontal line*/
.und_quo {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.und_quo hr {

    width: 90%;
    color: grey;

}

/* ARTICLE */
article {
    display: flex;
    flex-direction: column;

}

/* Description */
.description h1{
    margin: 0;
    margin-bottom: -10px;
}
.description {
    background-color: rgba(212, 212, 212, 0.238);
    padding-bottom: 20px;
    margin: 20px 20px 10px 20px;

}
.description p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    

}

.description_pic {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 0;
}

.description_pic img {
    width: 100%;
    margin-top: 20px;


}

.description_paragraphs {
    margin: 20px 20px 0 20px;

}

.description_paragraphs p {
    padding-bottom: 20px;
    text-indent: 2em;
    font-family: 'Oswald', 'sans-serif';
}

.kolosmore {
    text-align: right;
    padding-right: 20px;

}

.kolosmore a {
    background-color: rgba(212, 212, 212, 0.238);
    padding: 8px;
    border-radius: 10px;
}

/*album fülek*/
.title {
    /* zeneajánlónál is ez van */
    font-size: 1.5em;
    text-align: center;
    margin: 15px 0;
}


.albums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.cirque,
.program,
.la {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 20px;
    width: 80%;


}

.albums p {
    text-align: center;
    margin-top: 13px;
    color: white;
    font-size: large;

}

.programmore,
.cirquemore,
.lamore {
    padding: 0;
    margin: 30px;
    text-decoration: none;
}

/*bővebben gombok*/
.kolosmore a,
.lamore a,
.programmore a,
.cirquemore a {
    text-decoration: none;
}


.cirque img,
.program img,
.la img {
    width: 85%;
    margin-top: 15px;
    transition: transform 0.5s;
}

.cirque img:hover,
.program img:hover,
.la img:hover {
    transform: scale(1.05);
}

.cirque {
    background-color: rgb(162, 38, 38);
}

.program {
    background-color: #bc8b3c;
    margin: 15px 0;
}

.la {
    background-color: #3e6876;
    margin-bottom: 20px;
}


.cirquemore a,
.programmore a,
.lamore a {
    background-color: rgba(0, 0, 0, 0.238);
    padding: 8px;
    border-radius: 10px;
}

/* ASIDE */
aside {
    background-color: black;
    order: 1;
}

/*zeneajánló*/
.song_rec p {
    text-align: center;

}

.spotify_embbed {
    margin: 0 10%;
    position: relative;
    height: 152px;
    margin-bottom: 20px;

}

.spotify_embbed iframe {
    position: absolute;
    display: none;


}


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: grey;
    padding: 5px;
    padding: 5px;
}

footer p {
    font-size: small;
    margin: 0 10px;
    color: rgb(192, 192, 192);
}


/*CIRQUE HTML*/
.main_title {
    font-weight: 400;
    margin: 10px 20px 20px 20px;
    font-size: clamp(16px, 3.5vw, 25px);
    text-align: center;
}
.albumpreview {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.red .description_pic img {
    margin-bottom: 20px;
}
.interview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 300;
    margin: 20px;
}

.interview .left,
.interview .right {
    width:100%;
    padding: 10px;
    border-radius: 10px;
}

/*interview chat színek*/
.redbackg{background-color: rgba(112, 8, 8, 0.8);}
.redleft{background-color: #c22828;}
.redright{background-color: #c00707;}
.yellowbackg{background-color: rgba(188, 139, 60, 0.8);
font-weight: 350;}
.yellowleft{background-color: rgb(221, 171, 90);
    font-weight: 350;}
.yellowright{background-color: rgb(202, 149, 63);
    font-weight: 350;}
.bluebackg{background-color: rgba(62, 104, 118, 0.8)}
.blueleft{background-color: rgb(91, 134, 148)}
.blueright{background-color: rgb(65, 107, 120)}




.interview_container{
    margin: 20px;
    
}

.interview .right{
    align-self: flex-end;
}



/*interview háttérszín + formázás*/
.red, .yellow, .blue{
    background-color: rgba(142, 18, 18, 0.8);
    padding: 0;
    padding-bottom: 20px;
}
.yellow{
    background-color: rgba(188, 139, 60, 0.8);
}
.blue{
    background-color: rgba(62, 104, 118, 0.8);
}



/*RENDELÉS HTML*/
article h2 {
    text-align: center;
}

.form_outer {
    display: flex;
    justify-content: center;
}

form {
    
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    flex-basis: 100%;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: clamp(12px, 1.3vw, 18px);
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea,
form select, 
form select option{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

form .checkbox-group label {
    font-size: clamp(12px, 1.3vw, 18px);
}

form .textarea-container {
    display: flex;
    flex-direction: column;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-top: 0;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Animációk */

@keyframes fade {
    0% {
        opacity: 0;
    }

    /* Kezdés */
    10% {
        opacity: 1;
    }

    /* Megjelenítés kezdete */
    90% {
        opacity: 1;
    }

    /* Megjelenítés vége */
    100% {
        opacity: 0;
    }

    /* Vég */
}

@media only screen and (min-width: 600px) {

    /* tablet */
    body {
        display: flex;
        flex-direction: column;
        /*nagyon megijedtem hogy az elején ezt nem csináltam meg, és emiatt újra kell csinálnom az egészet*/
    }

    .slider {
        width: 80%;
        margin: auto;
    }

    .slick-slide {
        margin: auto 5px;
    }

    .quotes {
        height: 180px;
        font-size: clamp(16px, 2.5vw, 18px)
    }

    .lyrics_quotes {
        width: 50%;
        min-width: 400px;
        margin: auto;
        font-size:20px;

    }

    .song_title {
        top: 150px;
    }

    .quotesymbtop {
        top: -5px;
        /* Távolság a quotes konténer tetejétől */
        left: 0;
    }

    .quotesymbbot {
        bottom: -45px;
        /* Távolság a quotes konténer aljától */
        right: 0;
        /* Távolság a quotes konténer jobb szélétől */
    }

    .description_pic {
        display: block;
        margin: 0;
    }

    .description {
        margin-top: 20px;

    }


    .description_pic img {
        margin: 20px 20px 0 20px;
        width: 300px;
        float: left;
    }


    .albums {
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
  
    }

    .cirque,
    .program,
    .la {
        width: 31%;
        margin: 15px 0;
    }

    .albums p {
        background-color: transparent;
        text-indent: 0;
        text-align: center;

        margin-top: 8px;

    }

    .song_rec {
        width: 70%;
        margin: auto;
    }

    /*CIRQUET HTML*/
    .interview .left,
    .interview .right {
        max-width: 60%;
    }

    @media only screen and (min-width: 768px) {

        /* gép */
        header {
            display: none;
        }

        .navalbum {
            display: none;
        }

        nav {
            background-color: rgb(206, 206, 206);
            position: sticky;
            display: flex;
            top: 0;
            height: 43px;
            justify-content: space-around;
            margin-bottom: 10px;
        }

        nav ul {
            display: flex;
            align-items: center;
            width: 80%;
            margin: auto;
            justify-content: center;
        }

        nav ul li {
            margin: auto auto;
            display: inline-block;
        }

        nav ul li a {
            padding: 2px 30px;
            font-size: min(1.8vw, 17px);
            margin: auto;
        }

        nav ul li a img {
            display: none;
        }

        .nav_logo {
            display: block;
            padding: 0 2px;
            padding-top: 4px;
        }

        .logo {
            display: inline-block;
            height: 30px;
            width: auto;
            margin: auto 0;

        }

        /* albumok legördülő lista */
        /* Style the dropdown container */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgb(206, 206, 206);
            z-index: 1;
            margin: 0;
            width: 100%;
            min-width: 160px;
        }

        /* Style the dropdown links */

        .dropdown-content li {
            color: black;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2px;
            padding: 5px 5px;

        }

        .dropdown-content li a {
            font-size: min(1.8vw, 17px);
            white-space: nowrap;
        }

        /* Show the dropdown content on hover */

        .dropdown:hover .dropdown-content {
            display: inline-block;

        }

        /* Change color of dropdown links on hover */


        /*hover színváltás*/
        nav ul li:hover {
            background-color: rgba(255, 255, 255);
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .slider {
            width: 95%;
        }

        .slick-slide {
            margin: auto 8px;
        }

        .lyrics_quotes {
            width: 453px;
            margin: auto;
            font-size: 20px;
        }



        

        /*RENDELÉS HTML*/
        form {

            flex-basis: 70%;
        }
    }


}